.edit{
	margin-top: 3%;


}

body {    
    margin: 0 !important;
    padding: 0 !important;
    overflow-y:hidden;
}

.background{
	width : 100%;
	z-index: -5;
	border: 0;
}

.title{
	position: absolute;
	top: 11%;
	left: 6%;
	font-size: 240%; 
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: white;
	resize: both;
    overflow: auto;
	z-index: -2;
	resize: none;
}

.submission{
	position: absolute;
	top: 20%;
	left: 6%;
	font-size: 120%; 
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: white;
	resize: both;
    overflow: auto;
	resize: none;
	z-index: 1;
}

.essayInput{
	position: absolute;
	top: 23.82%;
	left: 25%;
	z-index: 3;
	resize: none;
	z-index: 1;

}

.submit {
	position: absolute;
	left : 15px;
	top : 300px;
	font-size: 120%; 
	font-family: 'Open Sans', Helvetica, sans-serif;
	z-index: 1;

}

.type {
	position: absolute;
	font-family: 'Open Sans', Helvetica, sans-serif;
	height: 30px;
	color: black;
}

#contactForm {
	color: white;

}

.essayInput {
	left : 15px;
	top : 30px;
	position: absolute;
}

#contact {
	position: fixed;
}


/*bootstrap css*/
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(background.jpg) no-repeat bottom center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#contact{
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

@media(min-width:768px) {
    #contact {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 100px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

#contact {
	width: 100%;
	background: url(background.jpg) no-repeat bottom center scroll;
    background-color: #000;
    position: absolute;
    background-position: 100% top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}